apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: board-service

resources:
- namespace.yaml
- configmap.yaml
- secret.yaml
- backend-deployment.yaml
- backend-service.yaml
- frontend-deployment.yaml
- frontend-service.yaml
- ingress.yaml

commonLabels:
  app.kubernetes.io/name: board-service
  app.kubernetes.io/version: v1.0.0
